<%- include('partials/header') %>

<h1>Admin page</h1>
<p>Hello <%= username %></p>

<p>Press this lovely button to get a list of email recipients</p>
<button class="btn" id="recipientButton">Button</button>

<%- include('partials/footer') %>