<%- include('partials/header') %>

<h1>Admin Login Page</h1>

<% if(messages.error) { %>
    <%= messages.error  %> 
<% } %>

<form action="/admin/login" method="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button id="submit">Login</button>
    </div>
</form>

<%- include('partials/footer') %>